<h5>ショッピングカート</h5>
<%= link_to "カートを空にする", destroy_all_public_cart_items_path, class: 'btn btn-danger', method: :delete %>

 <table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <th>
        <%= image_tag cart_item.item.get_image, size: "50x50" %>
        <%= cart_item.item.name %>
      </th>
      <th><%= cart_item.item.with_tax_price %></th>
      <th>
        <%= form_with model: cart_item, url: cart_item_path(cart_item) do |f| %>
          <% if cart_item.amount < 10 %>
            <%= f.select :amount, *[1..10], include_blank: cart_item.amount %>
          <% else %>
            <%= f.text_field :amount, class: "form-control-sm", include_blank: cart_item.amount, type: "number" %>
          <% end %>
        <% end %>
        <th><%= cart_item.subtotal %></th>
      </th>
      <td><%= link_to "削除する", method: :delete, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
  </table>

<%= link_to "買い物を続ける", '/', class: "btn btn-primary" %>